.spec-isit:hover .button{
	background: #5995EE;
}
.spec-isit:hover .fa:before{
	color: #5995EE;
}
.spec-isit:hover .feature-icon:after, .spec-isit:hover .feature-icon:before{
	background: #5995EE;
}
.spec-isit:hover .fa{
	box-shadow: inset 0 0 0 1px #5995EE;
}
/* ------------------------------------------------------------------*/
.spec-ib:hover .button{
	/*#EE5959; #0F960F*/
	background: #0F960F; 
}
.spec-ib:hover .fa:before{
	color: #0F960F;
}
.spec-ib:hover .feature-icon:after, .spec-ib:hover .feature-icon:before{
	background: #0F960F;
}
.spec-ib:hover .fa{
	box-shadow: inset 0 0 0 1px #0F960F;
}
/* ------------------------------------------------------------------*/
.spec-eco:hover .button{
	background: #EE5959;
}
.spec-eco:hover .fa:before{
	color: #EE5959;
}
.spec-eco:hover .feature-icon:after, .spec-eco:hover .feature-icon:before{
	background: #EE5959;
}
.spec-eco:hover .fa{
	box-shadow: inset 0 0 0 1px #EE5959;
}
/* ------------------------------------------------------------------*/
.circular {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	background: url(../images/Ozhiganova1.jpg) no-repeat center;
	background-size: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
